.dark {
  --layout-header: #000;
}

.light {
  --layout-header: #fff;
}

.boiler-content {
	min-height: 100vh;
	padding-top: 60px;
  padding-bottom: 32px;
}

.logo {
  font-size: 24px;
  color: var(--du-blue);
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .logo {
    padding-left: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    padding-left: 0px;
  }
}

.ant-layout-header {
  background: var(--layout-header);
  border-bottom: 1px solid var(--border-light);
}

.ant-layout-header .ant-col {
	line-height: 60px;
}
