.ReactModal__Overlay {
    z-index: 1;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.Modal {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  top: 60px;
/*top: 0;*/
/*left: 10%;*/
/*position: absolute;*/
position: relative;
  height: calc(100% - 60px);
  overflow: scroll;
}

.Overlay {
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}