.ant-dropdown-menu-item-group-list {
	padding: 0;	
}

.dropdown-button {
	width: 100%;
}

.dropdown-button > span {
	display: flex;
  justify-content: space-between;
}

.dropdown-display-name {
	/*float: left;*/
}

.dropdown-icon {
	/*float: right;*/
}
